<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="GrievanceSystemConnectionString" connectionString="Data Source=LAPTOP-8CCI2EPQ\SQLEXPRESS;Initial Catalog=GrievanceSystem;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="GrievanceSystemConnectionString2" connectionString="Data Source=LAPTOP-8CCI2EPQ\SQLEXPRESS;Initial Catalog=GrievanceSystem;User ID=supali;Password=Supali20" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>